<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="./css/styles.css">
    </head>
    <body>
        <div class="main-content">
{{>header}}
        {{!-- <p>Created by  {{name}}</p> --}}
        <img src="images/robot.png">
        <p>This is a dynamic website made from nodejs and uses data from mapbox.com and weatherstack.com</p>
        </div>
        {{!-- <h1>From a About file</h1> --}}
        {{!-- <h1>{{title}}</h1> --}}
        
         {{>footer}}
    </body>
</html>