<!DOCTYPE html>
<html>
    <head>
        <title>Help</title>
         <link rel="icon" href="/images/weather.png">
        <link rel="stylesheet" href="./css/styles.css">
    </head>
    <body>
        <div class="main-content">
{{>header}}
        {{!-- <h1> Message-{{message}}</h1> --}}
        <h3>For any queries please contact</h3>
        <p>Email-praptimaheshwari8@gmail.com</p>   
        <p>Contact No.-7030279886</p>     
        </div>
         {{>footer}}
    </body>
</html>